*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
figure{
  position: relative;
  margin: 0;
  padding: 0;
}
img{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 1fr);
  grid-gap: 1rem;
  width: 60vw;
  height: 80vh;
  aspect-ratio: 1/1;
}
  
  figure[data-grid="img-0"] { grid-area: 1 / 1 / 7 / 7; }
  figure[data-grid="img-1"] { grid-area: 1 / 7 / 4 / 10; }
  figure[data-grid="img-2"] { grid-area: 4 / 7 / 7 / 10; }
  figure[data-grid="img-3"] { grid-area: 7 / 7 / 10 / 10; }
  figure[data-grid="img-4"] { grid-area: 7 / 4 / 10 / 7; }
  figure[data-grid="img-5"] { grid-area: 7 / 1 / 10 / 4; }